<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none">
    <ion-item *ngFor="let item of items; index as i"
              [style.--animation-order]="i">
      <ion-label>{{item}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
